on:
  pull_request:
  push:
    branches: main

name: Continuous integration

jobs:
  docs:
    name: Documentation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: 1.65
      - uses: Swatinem/rust-cache@v2
      - name: Build Documentation
        run: cargo doc --lib --no-deps --all-features --workspace
        env:
          RUSTDOCFLAGS: --cfg docsrs -Dwarnings

  testmsrv:
    name: Test Suite Latest
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - windows-latest
          - ubuntu-latest
          - macos-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: 1.78.0
      - uses: Swatinem/rust-cache@v2
      - name: Test
        run: cargo test --all-features --all-targets --workspace

  testlatest:
    name: Test Suite MSRV
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - windows-latest
          - ubuntu-latest
          - macos-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: 1.65
      - uses: Swatinem/rust-cache@v2
      - name: Test
        run: cargo test --all-features --all-targets --workspace

  fmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: 1.65
          components: rustfmt
      - uses: Swatinem/rust-cache@v2
      - run: cargo fmt --all -- --check

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: 1.65.0
          components: clippy
      - uses: Swatinem/rust-cache@v2
      - run: cargo clippy --all-features --all-targets --workspace -- -D warnings

  autobahnclient:
    name: Autobahn Client
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: 1.65.0
      - uses: Swatinem/rust-cache@v2
      - run: cargo run --bin client --release

  autobahnserver:
    name: Autobahn Server
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: 1.65.0
      - uses: Swatinem/rust-cache@v2
      - run: cargo run --bin server --release

  autobahnclientsplit:
    name: Autobahn Client Split Socket
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: 1.65.0
      - uses: Swatinem/rust-cache@v2
      - run: cargo run --bin split_client --release

  autobahnserversplit:
    name: Autobahn Server Split Socket
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: 1.65.0
      - uses: Swatinem/rust-cache@v2
      - run: cargo run --bin split_server --release