on:
  pull_request:
  push:
    branches: main

name: Continuous integration

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: 1.65
          override: true
      - uses: actions-rs/cargo@v1
        with:
          command: check

  docs:
    name: Documentation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: 1.65
          override: true
      - uses: actions-rs/cargo@v1
        with:
          command: RUSTDOCFLAGS="--cfg docsrs -Dwarnings" cargo doc --lib --no-deps --all-features --workspace

  testmsrv:
    name: Test Suite Latest
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - windows-latest
          - ubuntu-latest
          - macos-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: 1.78.0
          override: true
      - uses: actions-rs/cargo@v1
        with:
          command: test
          args: --all-features --all-targets --workspace

  testlatest:
    name: Test Suite MSRV
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - windows-latest
          - ubuntu-latest
          - macos-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: 1.65
          override: true
      - uses: actions-rs/cargo@v1
        with:
          command: test
          args: --all-features --all-targets  --workspace

  fmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: 1.65
          override: true
      - run: rustup component add rustfmt
      - uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: 1.65
          override: true
      - run: rustup component add clippy
      - uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --all-features --workspace -- -D warnings

  autobahnclient:
    name: Autobahn Client
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: 1.65
          override: true
      - uses: actions-rs/cargo@v1
        with:
          command: run
          args: --bin client --release

  autobahnserver:
    name: Autobahn Server
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: 1.65
          override: true
      - uses: actions-rs/cargo@v1
        with:
          command: run
          args: --bin server --release

  autobahnclientsplit:
    name: Autobahn Client Split Socket
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: 1.65
          override: true
      - uses: actions-rs/cargo@v1
        with:
          command: run
          args: --bin split_client --release

  autobahnserversplit:
    name: Autobahn Server Split Socket
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: 1.65
          override: true
      - uses: actions-rs/cargo@v1
        with:
          command: run
          args: --bin split_server --release